$primary-font-family: "SF Pro Display", sans-serif !default;

@forward "vuetify/_settings" with (
	$body-font-family: $primary-font-family,
	$font-size-root: 14px,
	$typography: (
		'body-large': (
			'size': 16px,
			'weight': 500,
		),
	),
	$border-radius-root: 8px,
    $button-font-size: 15px,
    $button-font-weight: 500,
	$field-font-size: 14px,
	$input-font-size: 14px,
);
