.control-menu {
	&__content {
		overflow: hidden;
		width: 237px;
		backdrop-filter: blur(6px);
		border-radius: 10px;
	}

	&__label {
		line-height: 20px;
		min-height: 28px;
	}

	&__backdrop {
		position: fixed;
		inset: 0;
		z-index: 1000;
		background: transparent;
		pointer-events: auto;
	}
}

.control-menu__content {
	z-index: 9998;
}

.control-menu__content .v-overlay__content {
	z-index: 9998;
}

.control-menu__content .v-list-item__content {
	font-size: 12px;
}
